#{$subdivision-container-selector} {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$gutter / 2);
  box-sizing: border-box;

  > #{$subdivision-column-selector} {
    margin: 0 ($gutter / 2) $subdivision-gutter;
    flex: 1 1 0%;
  }

  > #{$subdivision-container-selector} > #{$containerClass} {
    margin-bottom: -$subdivision-gutter;
  }
}
