// Gutter - Can be fixed or relative unit
$subdivision-gutter: 10px;
$subdivision-h-gutter: $subdivision-gutter;
$subdivision-v-gutter: $subdivision-gutter;

$subdivision-container-selector: ".row";
$subdivision-column-selector: "div";
