/* Subdivision */

// Gutter - Can be fixed or relative unit
$subdivision-gutter: 10px !default;
$subdivision-h-gutter: $subdivision-gutter !default;
$subdivision-v-gutter: $subdivision-gutter !default;

// Selectors
$subdivision-container-selector: ".grid" !default;
$subdivision-column-selector: "*" !default;


/* Mixins */
@mixin column($fraction: 1, $offset: 0) {
  flex-basis: calc(#{percentage($fraction)} - #{$subdivision-h-gutter});
  max-width: calc(#{percentage($fraction)} - #{$subdivision-h-gutter});
  
  @include offset($offset);
}

@mixin span($fraction: 1, $offset: 0) {
  flex-basis: calc(#{percentage($fraction)});
  max-width: calc(#{percentage($fraction)});
  
  @include offset($offset);
}

@mixin offset($offset: 0) {
  @if type-of($offset) == "number" {
    @if unitless($offset) {
      margin-left: percentage($offset);
    } @else {
      margin-left: $offset;
    }
  } @else if type-of($offset) == "string" {
    margin-left: $offset;
  }
}

@mixin stack() {
  flex-basis: calc(100% - #{$subdivision-h-gutter});
  max-width: calc(100% - #{$subdivision-h-gutter});
  margin-left: 0; // Remove offset
}

@mixin center($fraction) {
  width: percentage($fraction);
}

/* Classes */
#{$subdivision-container-selector} {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  margin-right: -$subdivision-h-gutter;

  > #{$subdivision-column-selector} {
    flex: 1 1 0%;
    box-sizing: border-box;

    margin-right: $subdivision-h-gutter;
    margin-bottom: $subdivision-v-gutter;

    > #{$subdivision-container-selector} {
      margin-bottom: -$subdivision-v-gutter;
    }
  }

  &.spans {
    margin-right: 0;

    > #{$subdivision-column-selector} {
      margin-right: 0;

      > #{$subdivision-container-selector}.spans {
        margin-bottom: 0;
      }
    }
  }
}
