/* Subdivision */

// Gutter - Can be fixed or relative unit
$subdivision-gutter: 10px !default;
$subdivision-h-gutter: $subdivision-gutter !default;
$subdivision-v-gutter: $subdivision-gutter !default;

// Selectors
$subdivision-container-selector: ".grid" !default;
$subdivision-column-selector: "*" !default;


/* Mixins */
@mixin column($fraction: 1, $offset: 0, $gutter-left: $subdivision-h-gutter, $gutter-right: $subdivision-h-gutter) {
  $gutter-width: ($gutter-left + $gutter-right) - $subdivision-h-gutter;
  
  flex-basis: calc(#{percentage($fraction)} - #{$gutter-width});
  max-width: calc(#{percentage($fraction)} - #{$gutter-width});
  
  margin-right: $gutter-right - $subdivision-h-gutter;
  margin-left: $gutter-left;

  @include offset($offset, $gutter-left);
}

@mixin span($fraction: 1, $offset: 0) {
  flex-basis: calc(#{percentage($fraction)});
  max-width: calc(#{percentage($fraction)});
  
  @include offset($offset);
}

@mixin offset($offset: 0, $gutter: $subdivision-h-gutter) {
  @if $offset != 0 {
    @if type-of($offset) == "number" {
      @if unitless($offset) {
        margin-left: calc(#{percentage($offset)} + #{$gutter});
      } @else {
        margin-left: calc(#{$offset} + #{$gutter});
      }
    } @else if type-of($offset) == "string" {
      margin-left: $offset;
    }
  }
}

@mixin stack() {
  flex-basis: calc(100% - #{$subdivision-h-gutter});
  max-width: calc(100% - #{$subdivision-h-gutter});
  margin-left: $subdivision-h-gutter; // Return to default offset
}

@mixin center($fraction) {
  max-width: calc((100% - #{$subdivision-h-gutter}) * #{$fraction} - #{$subdivision-h-gutter});
  margin: 0 auto;
}

/* Classes */
#{$subdivision-container-selector} {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  margin-left: -$subdivision-h-gutter;
  margin-right: -$subdivision-h-gutter;
  padding-right: $subdivision-h-gutter;
  
  > #{$subdivision-column-selector} {
    flex: 1 1 0%;
    box-sizing: border-box;

    margin-left: $subdivision-h-gutter;
    margin-bottom: $subdivision-v-gutter;

    > #{$subdivision-container-selector} {
      margin-bottom: -$subdivision-v-gutter;
    }
  }
}
